<section class="section-header parallax">
  <div class="header-home">
    <div class="header-options">
      <div class="header-logo"></div>
      <div class="header-option">
        <label class="header-menu-option"><a href="#register" target="_top">Recursos</a></label>
      </div>
      <div class="header-option">
        <label class="header-menu-option">Benefícios</label>
      </div>
      <div class="header-option">
        <label class="header-menu-option">Registrar-se</label>
      </div>
      <div class="header-option">
        <label class="header-menu-option">Suporte</label>
      </div>
    </div>
    <div class="header-login">
      <div class="header-menu-login">
        <label class="login-label">Entrar</label>
      </div>
    </div>
  </div>
  <div class="header-space"></div>
  <div class="home-panel">
    <div class="inner">
      <div class="block">
        <label class="title">MobileOS</label>
        <label class="sub-title">Comece a gerenciar sua equipe on-line.</label>
        <div class="bnt-start">Começar</div>
      </div>
    </div>
  </div>
</section>

<section id="resources" class="header-content parallax sec-box">
  <div class="title-resources">Tudo que você precisa saber está aqui</div>
  <div class="header-rows">
    <div class="content-row">
      <div class="img-resources chaos-order"></div>
      <div class="row-text-wrapper">
        <div class="text-resources">
          <div class="sub-title-resources">Tempo Real</div><br> Cadastre e controle a produtividade das suas equipes a partir
          da nossa plataforma em tempo real.
        </div>
      </div>
    </div>

    <div class="content-row">
      <div class="img-resources chaos-order"></div>
      <div class="row-text-wrapper">
        <div class="text-resources">
          <div class="sub-title-resources">Integração Fácil</div><br> Utilizando nossos Web Services, sua empresa poderá
          enviar as Ordens de Serviços diretamente a plataforma MobileOS.
        </div>
      </div>
    </div>

    <div class="content-row">
      <div class="img-resources chaos-order"></div>
      <div class="row-text-wrapper">
        <div class="text-resources">
          <div class="sub-title-resources">Integração Fácil</div><br> Utilizando nossos Web Services, sua empresa poderá
          enviar as Ordens de Serviços diretamente a plataforma MobileOS.
        </div>
      </div>
    </div>
  </div>
</section>

<section id="benefits" class="header-content parallax sec-box">
  <div class="title-resources">Quais benefícios de utilizar a plataforma</div>
  <div class="header-rows platform">
    <div class="content-row">
      <div class="img-resources chaos-order"></div>
      <div class="row-text-wrapper">
        <div class="text-resources">
          <ul class="sub-title-resources">
            <label>Gestão completa do ciclo de atendimento das ordens de serviço</label>
            <li>✓ Elimine formulários de papael com o melhor software de ordem de serviço.</li>
            <li>✓ Reduza o tempo que o seu time interno gasta para monitorar seus técnicos.</li>
            <li>✓ Cumpra os prazos acordados com seus clientes nos atendimentos de chamados, satisfação representa fidelidade.</li>
            <li>✓ Identifique seus gargalos, permitindo tomar ações de aumento de produtividade.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content-row">
      <div class="img-resources controller">
      </div>
      <div class="row-text-wrapper">
        <div class="text-resources">
          <ul class="sub-title-resources">
            <label>Visão da operação de ordem de serviço online</label>
            <li>✓ Visualize no mapa tudo que ocorre no campo: posição das equipes, ordens de serviço e horários.</li>
            <li>✓ Controle os tempos de deslocamento e atendimento às ordens de serviços de forma efetiva.</li>
            <li>✓ Tome ações de forma ágil e rápida de acordo com a realidade da sua operação (faltas, mudanças de tempo,
              imprevistos)..</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content-row">
      <div class="img-resources velocity"></div>
      <div class="row-text-wrapper">
        <div class="text-resources">
          <ul class="sub-title-resources">
            <label>Aumento da produtividade das equipes e controle dos custos com efetividade</label>
            <li>✓ Mais atendimentos realizados em menos tempo, e com menor esforço das equipes.</li>
            <li>✓ Visualize os melhores profissionais e aqueles que devem aumentar a produtividade.</li>
            <li>✓ Controle seus custos de deslocamento, materiais e gastos no campo.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>