// reference http://mcg.mbitson.com/
$color-accent: (
    50 : #fef7e0,
    100 : #fcebb3,
    200 : #fbdd80,
    300 : #f9cf4d,
    400 : #f7c526,
    500 : #f6bb00,
    600 : #f5b500,
    700 : #f3ac00,
    800 : #f2a400,
    900 : #ef9600,
    A100 : #ffffff,
    A200 : #fff3e3,
    A400 : #ffdeb0,
    A700 : #ffd396,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

$color-primary: (
    50 : #e4e8ec,
    100 : #bcc5d0,
    200 : #909fb1,
    300 : #647892,
    400 : #425b7a,
    500 : #213e63,
    600 : #1d385b,
    700 : #183051,
    800 : #142847,
    900 : #0b1b35,
    A100 : #709eff,
    A200 : #3d7cff,
    A400 : #0a59ff,
    A700 : #004ef0,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

$color-warn: (
    50 : #fee7e1,
    100 : #fec3b5,
    200 : #fd9b84,
    300 : #fc7253,
    400 : #fb542e,
    500 : #fa3609,
    600 : #f93008,
    700 : #f92906,
    800 : #f82205,
    900 : #f61602,
    A100 : #ffffff,
    A200 : #ffebea,
    A400 : #ffbab7,
    A700 : #ffa29d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

